body {
    margin: 0;
    padding: 0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
}

button {
    background: green;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    position: absolute;
    right: 47vw;
    top: 40vh;
    cursor: pointer;
    z-index: 1;
}
button:hover {
    border: 2px solid green;
    background: none;
    color: green;
}
