*{
    margin: 0;                      //removi as margens que vem por padrão 
    padding: 0;                    //mesma coisa aqui 
}

#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

#dino{
    width: 20px;
    height: 50px;
    background-color: rebeccapurple;
    position: relative;
    top: 150px;
}

.animar{
    animation: dino 500ms infinite;
}

@keyframes dino {
    0%{top: 150px;}
    30%{top: 100;}
    70%{top: 100;}
    100%{top: 150;}
}

#quadrado{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation: quadrado 1s infinite linear;
}

@keyframes quadrado {
    0%{left: 480px;}
    100%{left: -40px;}
}