*{
    margin: 0;                      /*removi as margens que vem por padrão*/
    padding: 0;                    /*mesma coisa aqui*/
}

#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto; /*só pra deixar a tela do jogo no meio*/
}

#dino{
    width: 20px;
    height: 50px;
    background-color: rebeccapurple;
    position: relative;
    top: 150px;
}

.animar{
    animation: dino 500ms infinite;
}

@keyframes dino {
    0%{top: 150px;}
    30%{top: 100;}
    70%{top: 100;}
    100%{top: 150;}
}

#quadrado{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation: quadrado 1s infinite linear;
}

@keyframes quadrado {
    0%{left: 480px;}
    100%{left: -40px;}
}
/*segunda tela*/
*{
    margin: 0;                      
    padding: 0;                   
}

#game2{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin-top: 30%; /*faz a segunda tela não colidir com a  primeira*/
}

#dino2{
    width: 20px;
    height: 50px;
    background-color: rgb(64, 175, 223);
    position: relative;
    top: -50px; /*adequação pra segunda tela*/
}


.animar2{
    animation: dino2 500ms infinite;
}

@keyframes dino2 {     /*adequação na animação de pulo*/
    0%{top: -50px;}
    30%{top: -100;}
    70%{top: -100;}
    100%{top: -50;}
}

#quadrado2{
    width: 20px;
    height: 20px;
    background-color: rgb(45, 233, 31);
    position: relative;
    top: -70px; /*adequação para segunda tela*/
    right : 480px;
    animation: quadrado2 1s infinite linear;
}

@keyframes quadrado2 {
    0%{right : 480px;}
    100%{right : -40px;}
}
